.divFondo{
    height: 150vh;
    background-image: url(../../img/hola.jpg);
    background-size:cover;
    background-repeat:initial;
    padding: 20px;
    text-align: center;
    background-position: top left;
    background-attachment: local;
}

.titulo{
    margin: -120px -100px -30px 0px;
    width: 600px;
    height: 350px;
    display: flex;
}



